/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
}
a.rvts12, span.rvts12
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts13, span.rvts13
{
 color: #0000ff;
 text-decoration: none;
}
a.rvts14, span.rvts14
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts15 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts16, span.rvts16 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts17
{
 font-size: 20pt;
 font-weight: bold;
}
span.rvts18
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts19
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts20
{
 font-size: 13pt;
 font-weight: bold;
}
span.rvts21
{
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts22
{
 font-weight: bold;
 text-decoration: underline;
}
span.rvts23
{
 font-weight: bold;
 text-decoration: underline;
}
span.rvts24
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts25
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts26
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts27
{
}
span.rvts28
{
 font-style: italic;
 font-weight: bold;
}
span.rvts29
{
 color: #ff0000;
}
span.rvts30
{
 font-size: 12pt;
 font-weight: bold;
 color: #231f20;
 background-color: #ffffff;
 text-decoration: underline;
}
span.rvts31
{
 font-size: 12pt;
 color: #231f20;
 background-color: #ffffff;
}
span.rvts32
{
 font-size: 12pt;
 color: #231f20;
}
span.rvts33
{
 font-size: 16pt;
}
span.rvts34
{
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
span.rvts35
{
 font-size: 14pt;
 color: #ff0000;
}
span.rvts36
{
 font-size: 14pt;
}
span.rvts37
{
 font-size: 14pt;
 font-style: italic;
}
span.rvts38
{
 font-size: 14pt;
 color: #000000;
}
span.rvts39
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #000000;
}
span.rvts40
{
 font-size: 11pt;
 font-family: 'calibri';
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
span.rvts41
{
 font-size: 11pt;
 font-family: Symbola, 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 color: #000000;
}
span.rvts42
{
 font-size: 7pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts43
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
span.rvts44
{
 font-size: 11pt;
 font-family: Symbola, 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 color: #000000;
}
span.rvts45
{
 font-size: 11pt;
 font-family: 'calibri';
 font-weight: bold;
 color: #ff0000;
 text-decoration: underline;
}
span.rvts46
{
 font-size: 11pt;
 font-family: 'calibri';
 font-style: italic;
 font-weight: bold;
 color: #ff0000;
 text-decoration: underline;
}
span.rvts47
{
 font-size: 11pt;
 font-family: Symbola, 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 color: #ff0000;
}
span.rvts48
{
 font-size: 7pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #ff0000;
}
span.rvts49
{
 font-size: 11pt;
 font-family: 'calibri';
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts50
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts51
{
 text-decoration: underline;
}
span.rvts52
{
}
span.rvts53
{
 text-decoration: underline;
}
span.rvts54
{
 font-size: 20pt;
 font-weight: bold;
 color: #000000;
}
span.rvts55
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
}
span.rvts56
{
 font-size: 8pt;
 color: #000000;
}
span.rvts57
{
 font-size: 11pt;
 color: #ffffff;
}
span.rvts58
{
 font-size: 7pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #ffffff;
}
span.rvts59
{
 font-size: 8pt;
 color: #ffffff;
}
span.rvts60
{
 font-size: 8pt;
 font-weight: bold;
 color: #000000;
}
span.rvts61
{
 font-size: 8pt;
 font-weight: bold;
 color: #bfbfbf;
}
span.rvts62
{
 font-size: 12pt;
 color: #000000;
 text-decoration: underline;
}
span.rvts63
{
 font-size: 12pt;
 color: #000000;
}
span.rvts64
{
 font-size: 7pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts65
{
 font-size: 9pt;
 color: #000000;
}
span.rvts66
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
span.rvts67
{
 font-size: 8pt;
 font-weight: bold;
}
span.rvts68
{
 font-size: 20pt;
 font-weight: bold;
}
span.rvts69
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts70
{
 font-size: 8pt;
}
span.rvts71
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts72
{
 font-size: 16pt;
 font-style: italic;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts73
{
 color: #000000;
}
a.rvts74, span.rvts74
{
 font-size: 9pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts75
{
 color: #000000;
}
span.rvts76
{
 font-weight: bold;
}
span.rvts77
{
 font-style: italic;
 color: #000000;
}
a.rvts78, span.rvts78
{
 font-style: italic;
 color: #000000;
 text-decoration: none;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 margin: 1px 1px 1px 1px;
}
.rvps5
{
}
.rvps6 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps7
{
 text-align: center;
 margin: 16px 0px 0px 0px;
}
.rvps8
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 0px 0px;
}
.rvps9
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 0px 0px;
}
.rvps10
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 0px 0px;
}
.rvps11
{
 margin: 0px 0px 0px 72px;
}
.rvps12
{
 text-align: center;
 margin: 16px 0px 4px 0px;
}
.rvps13
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps14
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps15
{
 text-align: left;
 text-indent: 48px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps16
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 0px 96px;
}
.rvps17
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 16px 0px 0px 0px;
}
.rvps18
{
 margin: 16px 0px 0px 0px;
}
.rvps19
{
 margin: 0px 0px 0px 96px;
}
.rvps20
{
 margin: 0px 0px 0px 144px;
}
.rvps21
{
 margin: 0px 0px 0px 192px;
}
.rvps22
{
 background: #ffffff;
 margin: 7px 0px 0px 96px;
}
.rvps23
{
 margin: 0px 0px 0px 24px;
}
.rvps24
{
 margin: 0px 0px 11px 0px;
}
.rvps25
{
 text-indent: -24px;
 margin: 0px 0px 0px 48px;
}
.rvps26
{
 text-indent: -24px;
 margin: 0px 0px 0px 96px;
}
.rvps27
{
 text-indent: -24px;
 margin: 0px 0px 0px 144px;
}
.rvps28
{
 text-indent: -24px;
 margin: 0px 0px 11px 144px;
}
.rvps29
{
 margin: 0px 0px 11px 48px;
}
.rvps30
{
 text-indent: -24px;
 margin: 0px 0px 11px 48px;
}
.rvps31
{
 margin: 0px 0px 0px 48px;
}
.rvps32
{
 margin: 0px 0px 0px 24px;
}
.rvps33
{
 page-break-after: avoid;
 margin: 8px 0px 0px 48px;
}
.rvps34
{
 page-break-after: avoid;
 margin: 8px 0px 0px 24px;
}
.rvps35
{
 page-break-after: avoid;
 margin: 8px 0px 0px 0px;
}
.rvps36
{
 margin: 0px 0px 8px 0px;
}
.rvps37
{
 text-align: center;
 margin: 0px 0px 8px 0px;
}
.rvps38
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 8px 0px;
}
.rvps39
{
 margin: 8px 0px 8px 0px;
}
.rvps40
{
 text-align: left;
 text-indent: 18px;
 border-color: #ffffff;
 border-style: solid;
 border-width: 1px;
 background: #498cf1;
 padding: 8px 1px 8px 1px;
 margin: 4px 0px 0px 0px;
}
.rvps41
{
 text-indent: -24px;
 margin: 8px 0px 0px 48px;
}
.rvps42
{
 margin: 8px 0px 0px 0px;
}
.rvps43
{
 margin: 8px 0px 0px 0px;
}
.rvps44
{
 text-align: center;
}
.rvps45
{
 text-align: left;
 text-indent: 67px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps46
{
}
.rvps47
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps48
{
 background: #ffffff;
}
.rvps49
{
 margin: 0px 0px 0px 96px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: upper-alpha;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-alpha;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-roman;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: decimal;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: decimal;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: lower-alpha;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: disc;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside;}
.list11 {text-indent: 19px; padding: 0; margin: 0 0 0 -48px; list-style-position: inside; list-style-type: decimal;}
.list12 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: decimal;}
.list13 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: outside; list-style-type: decimal;}
.list14 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: decimal;}
